.root {
    -fx-background-color: black;
}
.label {
    -fx-font-size: 50px;
    -fx-text-fill: antiquewhite;
}

.runningText {
    -fx-font-size: 30px;
    -fx-fill: antiquewhite;
}

.countdown {
    -fx-font-size: 120px;
    -fx-text-fill: antiquewhite;
}